#explain{
    background-image: url("http://localhost:5000/static/stone.png");   
    height: 19em; 
}

#aboutHead{
    padding-top: 120px; 
    font-family: 'Noto Serif', serif;
    font-size: 60px; 
    font-weight: bold; 
    color:#B0896C; 
    text-align: center;
    text-decoration: none;

}

#photos { 
    padding-bottom: 300px; 
    padding-top: 120px; 
}




