#box {
    padding-bottom: 40px; 
}

.tagline {
    font-family: 'Noto Serif', serif;
    font-size: 50;
    padding-top: 8px; 
    padding-bottom: 10px; 
    text-align: center;
    background-image: url('./Background.png');
}

#h2{
    color: #F9F9F9;
    -webkit-text-stroke: 1.4px #000000;
    font-size: 46px; 
    position: relative;
    top: 15px; 

}

#italic{
    position: relative;
    bottom: 15px; 
    font-family: 'Noto Serif', serif; 
    font-size: 20px;  
    font-weight: bold; 
    color: #F9F9F9; 
}

u {
   color: #B0896C; 
}

#explain{
    background-color: #F0F1F1;
    border: solid;
    border-color: #024C46; 
    border-width: 1px; 
    position: relative;
    padding-top: 20px; 
    border-width: 2px; 
    border-style: solid;  
    box-shadow: 5px 10px 8px #C1CFCF; 
}

#aboutHead{
    font-family: 'Noto Serif', serif;
    font-size: 27px; 
    font-weight: bold; 
    color:#024C46; 
    padding-top: 20px; 
    padding-left: 20px; 

}

#aboutP {
    font-family: 'Montserrat', sans-serif;
    text-align: left; 
    font-size: 18px;  
    line-height: 1.6em; 
    padding: 5px 350px 10px 20px; 
}

#MMLogo{
    width: 12%; 
    float: right; 
    position: relative;
    left: 350px; 
    bottom: 70px;
}

#photos { 
    padding-bottom: 300px; 
    padding-top: 120px; 
}

#woman1 {
    width: 25%;
    float: left;
    border: solid;
    border-color: #024C46; 
    border-width: 1px; 
}

#woman2 {
    width: 44%;
    margin-right: auto;
    margin-left: 30px; 
    border: solid;
    border-color: #024C46; 
    border-width: 1px;  
}


#woman3 {
    width: 26%;
    float: right; 
    border: solid;
    border-color: #024C46; 
    border-width: 1px; 
}



