#explain{
    padding-top: 10px; 
    height: 17em; 
    background-color: #F0F3F3;
    
}

#aboutHead{
    font-family: 'Noto Serif', serif;
    font-size: 28px; 
    font-weight: bold; 
    color:#024C46; 
    text-align: left; 
    margin-left: 20px; 
    padding-top: 50px; 
    text-decoration: underline; 
    text-decoration-color: #B0896C;

}

#aboutP {
    padding-top: 10px; 
    padding-bottom: 20px; 
    margin-left: 20px; 
    margin-right: 40px; 
    font-family: 'Montserrat', sans-serif;
    text-align: left; 
    font-size: 18px;  
    line-height: 1.7em;
      
}

#photos { 
    padding-bottom: 300px; 
    padding-top: 120px; 
}

/*

#woman1 {
    width: 25%;
    float: left;
    border: solid;
    border-color: #024C46; 
    border-width: 1px; 
}

#woman2 {
    width: 44%;
    margin-right: auto;
    margin-left: 30px; 
    border: solid;
    border-color: #024C46; 
    border-width: 1px;  
}


#woman3 {
    width: 26%;
    float: right; 
    border: solid;
    border-color: #024C46; 
    border-width: 1px; 
}
*/ 


