#homeMessage{
    background-color: #F0F1F1;

}

.homeHead{
    font-family: 'Noto Serif', serif;
    font-size: 32px; 
    font-weight: bold; 
    color:#024C46; 
    padding-top: 50px; 
    padding-bottom: 10px; 
    margin-left: 40px; 
    text-decoration: underline;
    text-decoration-color: #B0896C;
}

#homeP{
    font-family: 'Montserrat', sans-serif;
    text-align: left; 
    font-size: 19px;  
    line-height: 1.6em; 
    margin-left: 40px; 
    margin-right: 660px;  
    padding-bottom: 20px; 
}

#MMLogo4{
    width: 15%; 
    float: right; 
    position: relative;
    left: 640px; 
    bottom: 60px;
}


#MMLogo4:hover{
    box-shadow: 0 0 4px 2px #B0896C;
}

#homeLink{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;  
    color:#024C46; 
    margin-left: 449px; 
    position: relative;
    bottom: 79px; 
    text-decoration: underline;
}


#vidContainer{
    padding-top: 10px; 
    padding-bottom: 50px; 
    background-color: #F0F1F1; 
}

#welcomeHead{
    font-family: 'Noto Serif', serif;
    font-size: 27px; 
    font-weight: bold; 
    color:#024C46; 
    padding-top: 30px; 
    margin-left: 20px; 
}

#welcomeP{
    font-family: 'Montserrat', sans-serif;
    text-align: left; 
    font-size: 18px;  
    line-height: 1.6em; 
    padding: 5px 350px 10px 20px; 
}

#videoPlayer{ 
    position: relative;
    top: 0;
    width: 60%;
    height: 70%;
    margin-left: 20px;
    border: solid;
    border-color: #B0896C; 
    border-width: 3px; 

}

#homeStories{
    background-color: #F0F1F1; 
    padding-bottom: 50px; 
    
}

