#home{
    height: 1000px;  
}

#vidContainer{
    padding-top: 180px; 
    padding-bottom: 320px; 
    border: solid;
    border-color: #024C46; 
    border-width: 2px; 
}

#welcomeHead{
    font-family: 'Noto Serif', serif;
    font-size: 27px; 
    font-weight: bold; 
    color:#024C46; 
    padding-top: 30px; 
    margin-left: 20px; 
}

#welcomeP{
    font-family: 'Montserrat', sans-serif;
    text-align: left; 
    font-size: 18px;  
    line-height: 1.6em; 
    padding: 5px 350px 10px 20px; 
}

#videoPlayer{ 
    position: relative;
    top: 0;
    width: 60%;
    height: 70%;
    margin-left: 20px;
    border: solid;
    border-color: #B0896C; 
    border-width: 3px; 

}