#playlistBox{
    height: 20em;  
    background-image: url("http://localhost:5000/static/stone.png"); 
    border-bottom: 1px solid rgb (209, 209, 209); 
    box-shadow: 4px 8px 4px #C1CFCF;  
}

#playlistH {
    padding-top: 120px; 
    font-family: 'Noto Serif', serif;
    font-size: 60px; 
    font-weight: bold; 
    color:#B0896C; 
    text-align: center;
    text-decoration: none;

}

#playlistH2{
    font-family: 'Noto Serif', serif;
    font-size: 32px; 
    padding-top: 90px; 
    padding-bottom: 40px;
    font-weight: bold; 
    color:#024C46; 
    text-align: center;  
    text-decoration: none;
}

#playlistP{
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 20px; 

}

.playlistCard{
    padding-top: 40px;
    padding-bottom: 120px;
}

#cardStyle{
    height: 19em;
}