#container{
    height: 80em; 
}

#priv{
    background-color: #F0F3F3;
    padding-bottom: 50px; 
    border-style: solid;
    border-width: 1px;
    border-color: #B0896C; 
}

#privHeader{
    font-family: 'Noto Serif', serif;
    color: #024C46; 
    text-align: center; 
    padding-top: 50px; 

}

#privacyI {
    margin-left: 500px; 
}

h2{
    font-family: 'Noto Serif', serif;
    color: #024C46; 
    text-decoration: underline;
    text-decoration-color: #B0896C;
}

.policyP{
    font-family:'Montserrat', sans-serif;
    margin-left: 50px; 
    margin-right: 50px; 
    text-align: justify;
    padding-top: 80px; 
    padding-bottom: 60px; 
}