@import "react-slideshow-image/dist/styles.css"; 

#background{
    background-color: #F0F3F3;
    padding-top: 80px;

}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 650px;
    width: 100%; 
    border-width: 1px; 
    border-color:#024C46; 
    border-style: solid; 

}


.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}