@import "react-slideshow-image/dist/styles.css"; 

#background{
    background-color: #F0F3F3;
    padding-top: 40px;
    height: 55em; 
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 650px;
    width: 100%; 
    border-style: solid;
    border-width: 2px; 
    border-color: #024C46;

}


.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}