#trustLinks{
    height: 100px; 
    background-color: #C1CFCF; 
    border-style: solid;
    border-width: 0.2px;
    background-image: url(/Users/jd/Desktop/Mindful-Matters/client/src/Assets/leaves.png); 
    
}


#bottomFooter{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; 
    background-color: #F0F1F1;
    border-color: #024C46; 
    border-style: solid;
    border-width: 0.2px;
}


#hw{
    width: 5em; 
    margin-left: 10px; 
}

#guard{
    width: 6em; 
}

#psych{
    width: 6em; 
    margin-left: 15px; 
}