
#footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 14em;
    padding-top: 10px; 
    background-color: #024C46;
    font-family: 'Noto Serif', serif;
}

#footHead1{
    padding-bottom: 25px; 
    font-size: 24px;
    color: #FFFFFF;  
    -webkit-text-stroke:  #B0896C 0.6px; 
    
}

#footImg{
    width: 2%; 
    position: relative;
    right: 5px; 
    bottom: 2px; 
    border-width: 0.1px;
    border-style: solid;
    border-color: #B0896C; 
}

#footHead{
    text-align: left; 
    font-size: 15px;
    color:#FFFFFF;
    text-decoration: underline; 
    text-decoration-color: #FFFFFF;
}

#hw{
    width: 8em; 
    

}

#guard{
    width: 8em;
    margin-left: 20px;  

}

#psych{
    width: 8em; 
    margin-left: 15px; 
}


.hr{
    border-top: 0.8px solid #FFFFFF;
}

#copyright{
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF; 
    font-size: 11px; 
    text-align: center; 
}