body{
    width: 100%; 
}

#nav{
    background-color: #F0F1F1;
    border-style: solid;
    border-width: 0.8px;
    border-color:#024C46;
}


#navStyle {
    color:  #698484; 
    font-family: 'Noto Serif', serif;
}

#navStyle:hover {
    color: #B0896C; 
    border-style: solid;
    border-width: 0.2px;
    border-color:#B0896C;
}


#navBrand {
    font-size: 24px; 
    font-family: 'Noto Serif', serif;
    text-decoration: underline;
    text-decoration-color: #B0896C;
    color: #FFFFFF; 
    -webkit-text-stroke: 0.7px #024C46;
}
 

#head{
    padding-top: 2px; 
}
