body{
    width: 100%; 
}

#nav{
    background-image: linear-gradient(#024C46, #F0F3F3);
    border-style: solid;
    border-width: 1.5px;
    border-color:#024C46;
}


#navStyle {
    color: #FFFFFF; 
    font-family: 'Noto Serif', serif;
}

#navStyle:hover {
    color: #FFC300; 
    border-style: solid;
    border-width: 0.2px;
    border-color:#C1A87D;
}


#navBrand {
    font-size: 27px; 
    font-family: 'Noto Serif', serif;
    color: #FFFFFF; 
    -webkit-text-stroke: 0.6px #FFC300;
}
 

#head{
    padding-top: 2px; 
}
