#explainQuiz{
    background-color: #F0F1F1;
    border: solid;
    border-color: #024C46; 
    border-width: 1px; 
    position: relative;
    top: 50px; 
    border-width: 2px; 
    border-style: solid;  
    box-shadow: 5px 10px 8px #C1CFCF; 
}

#QuizHead{
    font-family: 'Noto Serif', serif;
    font-size: 27px; 
    font-weight: bold; 
    color:#024C46; 
    padding-top: 20px; 
    padding-left: 20px;
}

#MMLogo2{
    width: 15%; 
    float: right; 
    position: relative;
    left: 330px; 
    bottom: 100px; 
}

#QuizP{
    font-family: 'Montserrat', sans-serif;
    text-align: left; 
    font-size: 18px;  
    line-height: 1.6em; 
    padding: 5px 340px 10px 20px; 
}