@import "react-slideshow-image/dist/styles.css"; 

#background{
    background-image: url("http://localhost:5000/static/stone.png");  
    height: 55em; 
    padding-top: 10px;

}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 650px;
    width: 100%; 
    border-width: 3px; 
    border-color:#B0896C; 
    border-style: solid; 

}


.each-slide span {
    padding: 20px;
    background: #efefef;
    text-align: center;
}