@import "react-slideshow-image/dist/styles.css"; 

#background{
    background-image: url("http://localhost:5000/static/stone.png");  
    height: 65em; 

}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 650px;
    width: 100%; 
    border-width: 3px; 
    border-color:#B0896C; 
    border-style: solid; 
}

.each-slide span {
    padding: 20px;
    background: #efefef;
    text-align: center;

}

#aboutP {
    padding-top: 80px; 
    padding-bottom: 40px; 
    margin-left: 30px; 
    margin-right: 50px; 
    font-family: 'Montserrat', sans-serif;
    text-align: justify; 
    font-size: 19px;  
    line-height: 1.8em;   
}