
#vidThumb{
    float: left; 
    position: relative;
    bottom: 40px;
    left: 110px; 
    width: 40%;
    height:  300px;
}


#vidDescription{
    padding-bottom: 210px; 
    margin: auto; 
    width: 70%;
    height: 10em; 
    background-image: url("http://localhost:5000/static/leaves.png");  
    color: #000000; 
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #024C46;
    border-bottom: 1px solid rgb (209, 209, 209); 
    box-shadow: 8px 12px 8px #C1CFCF; 

}

#vidName{
    padding-top: 45px; 
    font-family: 'Noto Serif', serif; 
    font-size: 26px; 
    color: #B0896C;
    text-decoration: underline;
    text-decoration-color: #FFC300;
}

#vidName:hover{
    color: #024C46;
    text-decoration: underline;
    text-decoration-color: #678383;
  
}

#description{
    padding-top: 10px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; 
    padding-right: 20px;

}
