
#vidThumb{
    float: left; 
    position: relative;
    bottom: 40px;
    left: 110px; 
    width: 40%;
    height:  300px;
}


#vidDescription{
    padding-bottom: 225px; 
    margin: auto; 
    width: 70%;
    height: 10em; 
    background-image: url("http://localhost:5000/static/stone.png");  
    color: #000000; 
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ababab;
    border-bottom: 1px solid rgb (209, 209, 209); 
    box-shadow: 8px 12px 8px #C1CFCF; 

}

#vidName{
    padding-top: 36px; 
    font-family: 'Noto Serif', serif; 
    font-size: 26px; 
    font-weight: bold; 
    color: #024C46;
    text-decoration: none;
}

#vidName:hover{
    color: #B0896C;
    text-decoration: underline;
    text-decoration-color: #FFC300;
}

#vidName:visited{
    color: #B0896C;
    text-decoration: underline;
    text-decoration-color: #FFC300;
}

#description{
    padding-top: 5px; 
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; 
    padding-right: 70px;

}


.buttonCollection{
    padding-top: 50px;
}


#addButton{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #B0896C;
    height: 120px; 
    width: 8em; 
    position: relative; 
    right: 150px; 
    box-shadow: 8px 12px 8px #C1CFCF; 
    
}
#addButton:hover{
    color: #024C46;
}


#removeButton{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #B0896C;
    height: 120px; 
    width: 8em; 
    position: relative; 
    right: 150px; 
    box-shadow: 8px 12px 8px #C1CFCF; 
}

#removeButton:hover{
    color: #024C46;
}